doctype 
html(lang='ru')
  block variables

  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title #{title}
  body
    block header
      header.header
        .flex.flex_xend
          .flex
            .user
              span.user__role Аудитор 
              span.user__name Сергеева Татьяна Андреевна
            form(type='POST')
              button.header__exit(type='submit' name='exit') [ Выйти ]

    block main

    block footer

    block scripts
      script(src='js/bundle.min.js') 
      script(src='libs/selectric/jquery.selectric.js') 