extends ../layouts/layout
include ../partials/bg/bg

block variables
  - var title ="Главная"

append head
  link(rel="stylesheet" href="styles/report.min.css")    

block main
  main.main.report
    .container
      .flex.main__header
        h1.main__h1 Внешняя проверка бюджетной отчетности министерства здравоохранения Тульской области за 2020 год
        span.main__date [ №105 от 05.07.2021 ]
      .main__body
        .report__item
          h2.main__h2 Фиксация информации о полученных ответах на запросы
          .request
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.flex.flex_centered.btn.request__file(href='#') Акт работ.zip
                  a.flex.flex_centered.flex.flex_centered.btn.request__file(href='#') Отчет испл...zip
                  a.flex.flex_centered.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
                span.request__status
                  | Статус: 
                  span предоставленна
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
                span.request__status
                  | Статус: 
                  span информация не предоставленна
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Акт работ.zip
                  a.flex.flex_centered.btn.request__file(href='#') Отчет испл...zip
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
                span.request__status
                  | Статус: 
                  span предоставленна не полностью
        .report__item
          h2.main__h2 Подписанные запросы в органы и организации и объект контроля
          .request
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
        .report__item
          h2.main__h2 Согласованые запросы в органы и организации и объект контроля
          .request
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
        .report__item
          h2.main__h2 Согласованые запросы в органы и организации и объект контроля
          .request
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Скачать с ЭЦП
                  a.flex.flex_centered.btn.request__file(href='#') Закачать
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
        .report__item
          h2.main__h2 Подготовка запросов в органы и организации и объект контроля
          .request
            .request__item.request__item_disabled
              .request__close
              .flex.flex_column
                h3.request__title Министру финансов в Тульской области
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Редактировать
                  a.flex.flex_centered.btn.request__file(href='#') Скачать .DOC
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .request__close
              .flex.flex_column
                h3.request__title Председателю комитета Тульской области по тарифам
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Редактировать
                  a.flex.flex_centered.btn.request__file(href='#') Скачать .DOC
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
            .request__item.request__item_disabled
              .request__close
              .flex.flex_column
                h3.request__title Министру финансов в Тульской области
                .flex
                  a.flex.flex_centered.btn.request__file(href='#') Редактировать
                  a.flex.flex_centered.btn.request__file(href='#') Скачать .DOC
              .flex.flex_column.flex_between
                span.request__date [ №111 от 05.07.2021 ]
      form.report__form
        button.btn(type='submit' name='report') Создать запрос

  