extends ../layouts/layout
include ../partials/bg/bg
include ../partials/info-title/info-title
include ../partials/recipient/recipient
include ../partials/date-input/date-input
include ../partials/three-column/three-column

block variables
  - var title ="Б.3 Шаблон формы «Акт по факту непредставления (предоставления не в полном объеме или недостоверных) сведений по запросу СП ТО»"

append head
  link(rel="stylesheet" href="styles/home.min.css")

block main
  form(id="main-form" method="POST")
    p.main-title.flex.flex_xend=title
    .main-container.small-container
      .row-wrapper.flex.flex_xcenter.act-title
        .flex.flex_yend.flex_xcenter
          p.text-center.text-bold А К Т
          p.text-center.text-bold по факту непредставления (предоставления не в полном объеме или недостоверных) сведений по запросу счетной палаты Тульской области
      .row-wrapper.flex.flex_between
          .flex.flex_column
            span
              input.input-small.input-inline(name="city" type="text")
            p.input-hint (город, иной населенный пункт)
          +date-input("date-day", "date-month", "date-year")

      .row-wrapper.flex
        .flex.flex_ycenter
          span В соответствии с
          .flex.flex_column.input-row-big
            input.input-big.input-margin.input-inline.input-row(name="point-year-plan" type="text")
            p.input-hint.input-margin (пункт годового плана работы счетной палаты Тульской области на соответствующий финансовый год, иные основания для проведения контрольного мероприятия, предусмотренные в Законе Тульской области «О счетной палате Тульской области»)

      .row-wrapper.flex
        .flex.flex_ycenter
          span.input-text В
          .flex.flex_column
            input.input-big-col.input-big.input-margin.input-inline(name="object-event" type="text")
            
            p.input-hint.input-margin (наименование объекта контрольного мероприятия)
      .row-wrapper.flex
        .flex.flex_ycenter
          span.input-text проводится подготовка к контрольному мероприятию 
          .flex.flex_column
            input.input-big-col.input-big.input-margin.input-inline(name="event" type="text")
            p.input-hint.input-margin (наименование контрольного мероприятия)

      .row-wrapper.flex
        .flex.flex_ycenter
          span.input-text В соответствии со пунктом 3 части 1 статьи 14 и статьи 15 Закона Тульской области от 04.12.2008 № 1147-ЗТО «О счетной палате Тульской области» были запрошены документы (информация) по следующим вопросам:
          .flex.flex_column
            input.input-big-col.input-big.input-margin.input-inline(name="questions" type="text")

      .row-wrapper.flex
        .flex.flex_ycenter
          span Срок представления информации истек: 
          .flex.flex_column
            +date-input("date-to-day", "date-to-month", "date-to-year")

      .flex
        .flex.flex_ycenter
          span.input-text В нарушении статьи 15 Закона Тульской области от 04.12.2008 № 1147-ЗТО «О счетной палате Тульской области» к настоящему времени счетной палате Тульской области информация 
          .flex.flex_column.input-big-col
            input.input-big.input-margin.input-inline(name="not-provide" type="text")
            p.input-hint.input-margin (не представлена, представлена не в полном объеме, представлена недостоверная)

      .row-sm-mg.flex
        .flex.flex_ycenter
          span что влечет за собой ответственность, установленную законодательством Российской Федерации.

      .flex
        .flex.flex_ycenter
          span.input-text Настоящий Акт составлен в двух экземплярах, один из которых вручен (направлен) для ознакомления 
          .flex.flex_column.input-big-col
            input.input-big.input-margin.input-inline(name="position-fio" type="text")
            p.input-hint.input-margin (должностное лицо проверяемого объекта, Ф.И.О.)

      .row-sm-mg.flex
        span.input-text.text-bold Аудитор<br>счетной палаты<br>Тульской области
      +three-column(false, "target-fio")
      +three-column(true, "auditor-fio")

      .row-wrapper.flex.flex_ycenter
        .flex.flex_ycenter
          button.btn(id="btn-submit" type='submit' name='report') Сохранить
        .flex.response-page.flex_column
          p.response-text 
          p.response-text-doc 

append scripts
  script(src="../js/not-provide-act.js")