extends ../layouts/layout
include ../partials/bg/bg
include ../partials/info-title/info-title
include ../partials/recipient/recipient

block variables
  - var title ="Б.2 Шаблон формы «Оформление запроса СП ТО о предоставлении информации»"

append head
  link(rel="stylesheet" href="styles/home.min.css")

block main
  form(id="main-form" method="POST")
    +info-title()
    +recipient()
    p.main-title.flex.flex_xend(id="docName")=title

    .main-container
      .row-wrapper.flex.flex_xcenter
        .flex.flex_yend
          span Уважаемый
          div
            input.input-margin.input-big(required name="target-name" type="text")
          span !

      .row-wrapper.flex.flex_xcenter
        .row.flex.flex_yend
          span В соответствии со статьей 13 Закона Тульской области от 04.12.2008 № 1147-ЗТО «О счетной палате Тульской области», на основании плана работы счетной палаты Тульской области на 20
          span
            input.input-small.input-inline(required name="year-ready" type="text")
          span  год (пункт
          span
            input.input-small.input-inline(required name="point-ready" type="text")
          span  ) проводится подготовка к контрольному мероприятию

      .row-wrapper.flex
        .row.flex.flex_yend.flex_column
          span
            input.input-big.input-row(required type="text" name="event-name")
          p.input-hint (наименование контрольного мероприятия)

      .row-wrapper.flex.flex_xcenter
        .row.flex.flex_yend
          span Учитывая изложенное, в рамках подготовки к контрольному мероприятию, прошу Вас в срок до
          span
            input.input-small.input-inline(required type="text" name="to-month")
          span  20
          span
            input.input-small.input-inline(required type="text" name="to-year")
          span  предоставить в счетную палату Тульской области

      .row-wrapper.flex
        .row.flex.flex_yend.flex_column
          span
            input.input-big.input-row(required type="text" name="documents-array")
          p.input-hint (перечень (документов, информации) для предоставления, в т.ч. формы таблиц, необходимые для заполнения)

      .row-wrapper.flex
        .flex.flex_ycenter
          span Информацию необходимо представить
          .flex.flex_column
            input.input-big.input-margin.input-inline.input-row(required type="text" name="documents-view")
            p.input-hint.input-margin (указывается в каком виде должна быть представлена информация)

      .flex.flex_between
        .select-wrapper
          select(id="position-select" name="position-select")
            option Председатель счетной палаты Тульской области
            option Аудитор счетной палаты Тульской области

        .flex.flex_yend
          p ФИО
          .flex.flex_column
            input.input-big.input-margin.input-inline.input-row(required type="text" name="fio")

      .row-wrapper.flex.flex_ycenter
        .flex.flex_ycenter
          button.btn(id="btn-submit" name='report') Сохранить
        .flex.response-page.flex_column
          p.response-text 
          p.response-text-doc 

append scripts
  script(src="../js/SPTORequest.js")