mixin date-input(dayName, monthDay, yearDay)
    .flex
        span «
        span
        input.input-date.input-small.input-inline(name=dayName type="text")
        span »
        span
        input.input-small.input-inline(name=monthDay type="text")
        span 20
        span
        input.input-date.input-small.input-inline(name=yearDay type="text")
        span г.
