mixin three-column(isGet, inputName)
    .row-sm-mg.flex.flex_between.flex_yend
        .column-position.flex.flex_column
            if (isGet)
                p Один экземпляр акта получил:
            p.text-italic Должность
        .column-signature.flex.flex_xcenter.text-italic Личная подпись
        .column-fio.flex.flex_yend.flex_xend
            p ФИО
            .flex.flex_column
                input.input-big.input-margin.input-inline.input-row(name=inputName type="text")

