@import ../utilities/_functions
@import ../utilities/_mixins
@import ../utilities/_var

.info-title
  &-container
    max-width: 22vw
    padding: 0 2vw
    position: absolute
    font-size: vw(16)
    +rmin(1281)
      font-size: vw(cv(16))
  &-image
    max-width: vw(62)
    +rmin(1281)
      max-width: vw(cv(62))
  &-name
    text-transform: uppercase
    font-weight: bold
  &-address
    margin: vw(5)
  &-input
    border-bottom: 1px solid
    padding-bottom: 2px
    &-wrapper
      margin-bottom: vw(5)
