@import ../utilities/_functions
@import ../utilities/_mixins
@import ../utilities/_var

.recipient
  &-container
    position: absolute
    right: 0
    padding: vw(25) vw(25) 0 vw(10)
    max-width: 20vw
    & div 
      &:first-child
        margin-top: vw(25)
      &:last-child
        margin-top: vw(50)
      & .input-big
        width: 100%