mixin recipient()
  .recipient-container
    .flex.flex_column.flex_yend
      input.input-big.input-row(type="text" id="toWhom" name="to-whom")
      p.input-hint Руководителю государственного органа (организации, учреждения)
    .flex.flex_column.flex_yend
      input.input-big.input-row(type="text" id="position" name="position")
      p.input-hint (должность, Ф.И.О.)
