*
  margin: 0
  padding: 0

body 
  font-family: "TimesNewRomanPS-MT"
  font-weight: 400

a
  text-decoration: none

ul
  list-style: none

.text
  &-center
    text-align: center
  &-bold
    font-weight: bold
  &-italic
    font-style: italic

.response
  &-page 
    margin-left: cvp(50)
    display: none
    +rmin(1281)
      margin-left: vw(cv(50))