@import utilities/_functions
@import utilities/_mixins
@import utilities/_var

.act
  &-title
    border-bottom: 1px solid
    & div
      padding-bottom: vw(10)      
      max-width: vw(800)
      +rmin(1281)
        max-width: vw(cv(800))

.column
  &-position, &-signature, &-fio
    width: 33%