@import utilities/_functions
@import utilities/_mixins
@import utilities/_var

.report
  padding-bottom: 246px
  &__item
    margin-top: 70px

.request
  &__item
    position: relative
    margin-top: 32px
    width: 100%
    padding: 15px 8px 19px 19px
    background-color: rgba(215, 40, 16, .5)
    display: flex
    justify-content: space-between
    & > div
      &:first-child
        max-width: 70%
      &:last-child
        align-items: flex-end
    &_disabled
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(216, 216, 216, .7)
        z-index: 10
  &__close
    position: absolute
    top: -12.5px
    right: -12.5px
    width: 25px
    height: 25px
    background-image: url('../images/close.svg')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    z-index: 11
    cursor: pointer
  &__title
    font-size: 18px
    color: #000000
    text-decoration: underline
  &__file
    margin-right: 20px
    margin-top: 15px
    width: 256px
    height: 56px
  &__date,
  &__status
    font-size: 20px
    color: #000000
  &__status
    & > span
      text-decoration: underline
    
      