@import utilities/_functions
@import utilities/_mixins
@import utilities/_var

*
  font-family: TimesNewRomanPS!important
  box-sizing: border-box

p, span
  font-size: vw(22)
  +rmin(1281)
    font-size: vw(cv(22))

.main
  color: black
  &-title
    font-size: vw(22)
    font-weight: bold
    +rmin(1281)
      font-size: vw(cv(22))
  &-container
    padding: 10vw 22vw 5vw

.small
  &-container
    padding: 0vw 15vw 5vw

input
  border: 1px solid #979797
  padding: 0 5px
  font-size: vw(22)
  +rmin(1281)
    font-size: vw(cv(22))

.input
  &-margin
    margin: 0 15px
  &-big
    height: 50px
    &-col
      width: 500px
      & input
        width: 100%
  &-small
    width: 100px
  &-hint
    font-size: vw(22)
    font-style: italic
    +rmin(1281)
      font-size: vw(cv(22))
  &-row
    width: 60%
    &-big
      max-width: 85%
  &-date
    max-width: 30px
  &-text
    max-width: 40%

.row
  display: inline
  width: 100%
  &-wrapper
    margin: 50px auto
  &-sm-mg
    margin: 10px auto
