@import bourbon
@import utilities/_functions
@import utilities/_mixins
@import utilities/_var
@import partials/_fonts
@import partials/_base
@import partials/_selectric

/* Layouts */
@import layouts/_abs
@import layouts/_flex
/* Layouts */

/* Modules */
@import modules/_bg
@import modules/_info-title
@import modules/_recipient
/* /Modules */

.header
  margin-bottom: 69px
  padding: 31px 58px
  background-color: $orange
  &__exit
    color: #ffffff
    font-size: 20px
    background: transparent
    border: 0
    appearence: none
    cursor: pointer
    
.user
  position: relative
  top: 2px
  margin-right: 29px
  font-weight: bold
  color: #ffffff
  font-size: 20px


.main
  &__header
    justify-content: space-between
    align-items: center
    margin-bottom: 200px
  &__h1
    font-size: 27px
    font-weight: bold
    color: $orange
    max-width: 1282px
  &__h2
    font-size: 20px
    font-weight: bold
    color: $orange
  &__date
    color: $orange
    font-size: 20px
  &__body
    margin-bottom: 15px

.container
  margin: 0 auto
  max-width: 1600px

.btn
  width: 306px
  height: 85px
  background-color: $orange
  font-size: 20px
  color: #ffffff
  border: 0
  appearence: none
  cursor: pointer
