mixin info-title()
  .info-title-container.text-center
    img.info-title-image(alt="Счётная палата Тульской области" src="images/tula.png")
    .info-title-name Счетная палата<br>Тульской области
    .info-title-address просп. Ленина, д.2, г. Тула, 300041<br>тел. 8 (4872) 55-66-43, факс 8 (4872) 55-66-96<br>E-mail: sptulobl@tularegion.ru<br>www.sptulobl.ru
    .info-title-input-wrapper
      span.info-title-input
        input.input-small.input-inline(type="text" name="title-input-one")
      span  № 
      span.info-title-input
        input.input-small.input-inline(type="text" name="title-input-sec")
    .info-title-input-wrapper
      span На № 
      span.info-title-input
        input.input-small.input-inline(type="text" name="title-input-third")
      span  от 
      span.info-title-input
        input.input-small.input-inline(type="text" name="title-input-fourth")

