.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  &_between {
    justify-content: space-between;
  }
  &_ycenter {
    align-items: center;
  }
  &_xcenter {
    justify-content: center;
  }
  &_column {
    flex-direction: column;
  }
  &_xend {
    justify-content: flex-end;
  }
  &_yend {
    align-items: flex-end;
  }
  &_centered {
    justify-content: center;
    align-items: center;
  }
  &_rreverse {
    flex-direction: row-reverse;
  }
  &_nowrap {
    flex-wrap: nowrap;
  }
}